*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html{
    font-family: Arial, Helvetica, sans-serif;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}
.col{
    float: left;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-one{
    width: 6.66%
}
.col-third{
    width: 25%;
}
.col-four{
    width: 33.33%;
}
.col-eight{
    width: 66.66%;
}
.col-nine{
    width: 75%;
}
.margin-8{
    margin: 8px;
}

.hover1:hover{
    cursor: pointer;
    opacity: 0.8;
    font-size: large;
}
.element{
    display: inline-block;
}
/* Container */
.container{
    border: 1px solid red;
}

/* Header */
.header{
    height: 80px;
    background-color: aqua;
    padding: 8px;
}
.header *{
    line-height: 60px;
    height: 60px;
}
#admin-text{
    background-color: #ccc;
    text-align: center;
}

#shop-page-wrapper{
    margin-left: 8px;
    background-color: orange;
    text-align: center;
}
#shop-page-wrapper *{
    display: inline-block;
}
#shop-page-wrapper i{
    padding-left: 8px;
}
#admin-avatar{
    float: right;
}
.avatar{
    border-radius: 50%;
}

.image {
    width: 30px;
    height: 30px;
}


/*  */
.side-content-wrapper{
    background-color: aqua;
    padding: 8px;
    height: 2000px;
}


/* Side bar */
.side-bar{
    background-color: #eee;
    height: 100%;
}
.side-element{
    height: 60px;
    margin: 8px;
    line-height: 60px;
    text-align: center;
    background-color: aqua;
    border-radius: 5px;
}

/* Content */
.content{
    background-color: #eee;
    margin-left: 8px;
    /* padding-left: 8px; */
    margin-right: -8px;
}

#add-item-button{
    background-color: violet;
    width: 150px;
    /* height: 40px; */
    padding: 8px;
    text-align: center;
    border-radius: 0px 0px 10px 0px;
}
/*content-main render item inventory */
#content-main{
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    column-gap: 10px;
    row-gap: 10px;
    height: 500px;
    overflow-y: scroll;
}
#content-main .item{
    position: relative;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
}
.item-image{
    margin: 5px auto 5px 65px;
    width: 70px;
}
.item-infor{
    margin-left: 5px;
    margin-right: 5px;
}
.item-infor-last::after{
    content: '';
    display: block;
    clear: both;
    height: 40px;
}
.infor-key {
    
}
.infor-value{

}
.button-wrapper{
    position: absolute;
    bottom: 5px;
    width: 100%;
}
.button-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.clear{
    clear: both;
}
.button{
    float: left;
    width: 40%;
    height: 30px;
    margin-left: 12px;
    text-align: center;
    line-height: 30px;
}
.button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.delete-button{
    background-color: red;
}
.edit-button{
    background-color: blue;
}

/* Add item Modal interface */
.modal {
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    /* right: 0; */
    left: 30%;
    background: rgba(0, 0, 0, 0.3);
    /*display: flex;*/ /* change in Javascript*/
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    position: relative;
    background: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
}

.modal-close{
    position: absolute;
    right: 0;
    /* color: #fff; */
    padding: 5px;
    background-color: #ccc;
}
#modal-select{
    margin-top: 24px;
}
.motal-image-wrapper{
    display: block;
    text-align: center;
}
.motal-image-wrapper img{
    width: 100px;
    height: 100px;
}
#category{
    height: 20px;
    width: 166px;
}

.modal-label{
    display: block;
    margin-left: 10%;
    text-transform: uppercase;
}
.modal-input{
    margin-left: 10%;
    margin-bottom: 5px;
}
.modal-footer{
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: orange;
}